.va-common-layout {
  .vac-aside {
    width: 200px;
    height: 100%;
    overflow-y: auto;
    background-color: #545c64;
  }
  .el-menu {
    border-right: none;
  }
}

.va-common-layout,
.el-container {
  width: 100%;
  height: 100%;
}


// router 

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
